body{
    margin: 0;
    padding: 0;
}
.liste{
    list-style-type: none;
    padding: 0;
    margin: 0 10%;
}
.lienarticle{
    text-decoration: none;
    color: black;
}
.lien{
    text-decoration: none;
    color: black;
    margin: 10px;
    padding: 5px;
    border-radius: 10px;
}
.lien2{
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 10px;
    font-size: larger;
}
.lien2:hover{
    background-color: red;
    color: white;
}
.lien:hover{
    background-color: red;
    color: white;
}
.article{
    width: 40%;
    float: left;
    text-align: center;
    height: 20vh;
    background-color: darkgrey;
    margin: 10px;
    border-radius: 5px;
}
.titre{
    text-align: center;
}